.product-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.product-details {
  display: flex;
  padding: 2vw;
  margin: 0vw;
  background-color: white;
  width: 100vw;
  flex-grow: 1;
}

.image-container {
  flex: 1;
}

.image-container img {
  width: 100%;
  height: auto;
  border: #137c8b 1px solid;
  border-radius: 1vw;
  box-shadow: 0 0.4vw 0.6vw rgba(0, 0, 0, 0.1);
}

.details {
  flex: 2;
  display: flex;
  flex-direction: column;
  color: #344d59;
}

.details h2 {
  color: #7a90a4;
  font-size: 35px;
  margin-bottom: 1.2vw;
}

.details p {
  /* margin: 1vw 0; */
  font-size: 20px;
}

.details strong {
  font-weight: bold;
  color: black;
}

.details a {
  color: #344d59;
  text-decoration: none;
  font-weight: bold;
}

.details a:hover {
  text-decoration: underline;
}

h3 {
  font-size: 35px;
}
.product-details .price {
  font-size: 28px;
  color: #344d59;
  font-weight: normal;
}

@media (max-width: 800px) {
  .product-details {
    flex-direction: column;
    gap: 3px;
    height: auto;
    width: auto;
  }

  .image-container {
    margin-bottom: 5vw;
  }
}
