.product-details {
  margin-top: 10px;
  width: 80%;
  display: flex;
  justify-content: center;
  margin-top: 15vh;
  gap: 40vh;
  height: 70vh;
}

.product-details img {
  width: auto;
  height: 40vh;
}

.details,
p {
  text-align: left;
}

.image-container img {
  filter: brightness(0.9);
}
